<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="通訊錄管理.My.MySettings.通訊錄ConnectionString" connectionString="Data Source=|DataDirectory|\通訊錄.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>